<div class="container">
  <div class="header">
    <h1>{{ 'PAGES.HOME.TITLE' | translate }}</h1>
  </div>
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let card of apodCards"
      [colspan]="card.cols"
      [rowspan]="card.rows"
      (click)="collapse(card)">
      <mat-card class="apod-card" tabindex="0">
        <mat-card-title *ngIf="card.isCollapsed">
          {{ card.text }}
        </mat-card-title>
        <img mat-card-lg-image src="{{card.image}}" *ngIf="card.isCollapsed">
        <mat-card-content *ngIf="!card.isCollapsed">
          {{ card.details }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
