@import "~palette.scss";

.header {
  text-align: center;
  color: $color-complement-3;

  h1 {
    font-size: 3em;
  }
}

.apod-card {
  width: 80%;
  height: 80%;
  background-color: $color-complement-3;
  text-align: center;

  .mat-card-lg-image {
    background: url(http://placehold.jp/FFE2CB/D89C6D/150x150.png?text=Visit+nasa.gov) no-repeat scroll 0 0;
  }

  mat-card-content {
    height: 100%;
    overflow-y: auto;
  }
}
